.nav{
    background-color: rgb(227, 221, 221) !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
}
.jj{
    margin-left: 2cm !important;
    margin-top: 10px;
    color: rgb(221, 101, 101) !important;
}
.btn{
    margin: 10px !important;
    padding: 10px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    color: white !important;
    border: none !important;
}
.btn:hover{
    background-color: aquamarine;
}
.btn1{
    background-color:#169b6a;
}
.btn2{
    background-color:#32cb93;
}
.btn3{
    background-color: #3ae9a9;
}
.btn4{
    background-color: #46f9b7;
}